.container.pt-5.pb-5{
    background-color: #efefef;	
    
   
  
}

.event-details {
		width: auto;

}
.col-md-12{

}

.row {
	display: flex;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    font-size:100%;
	color: #1e1e1e;
	flex-direction: row;
	
	
}

.organizer-details{

}
