.container.pt-5.pb-5 h1{
    display:none;
    
   
  
}

.event-details {
		width: auto;

}
.section{

    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    font-size:100%;
	color: #1e1e1e;
	margin: 2vw;
}

.row {
	display: flex;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    font-size:100%;
	color: #1e1e1e;
	flex-direction: row;
	margin: 2vw;
	
	
}

.organizer-details{

}
