
 body{

	margin: 0px;
	z-index: -2;

}
 .mellom{

	margin: 0vw 6vw;
	font-family: 'Montserrat', sans-serif;
    background-color: #efefef;	
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    position: relative;
    z-index: -1
}


.events{
    flex: 55%;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    font-size:100%;
    margin: 1.5vw;
    height:1%; 
	display: flex;
	flex-direction: row;
    height:1%;
    display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	align-content: center;
	justify-content:space-evenly;
	padding: 2vw;
	color: #1e1e1e;
	width: 100%;
	margin-bottom:3vw;
}


 
 .filopplasting{
   flex: 0%;
     flex-direction:column;
     background-color: white;
     margin: 1.5vw;
     width: 300%;
     height: auto;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	 padding: 0vw 2vw;
	 margin-bottom:3vw;
	 
	 
}
 .filopplasting h2{
 	font-family: 'Quattrocento', serif;
	 text-align: center;
	 
 }
 ul .mmm-list {
	 margin: 5px 5px 5px 5px;
	 
 }
h1{
	text-align: center;
}

ul.mmm-list{
	position: relative;
	z-index: 10;
}


h1,h2,h3{
	font-family: 'Quattrocento', serif;
}

.page-template, .page-template-events, .page-template-events-php, .page, .page-id-56, .locale-en-us, .woocommerce-js, .maritime{
	position: relative;
	z-index: -1;
}

.search_events{
	display:none;
}
.col-md-4{
	display:none;
}
