
 body{

	margin: 0px; 
}
 .mellom{

	margin: 0vw 6vw;
    background-color: #efefef;	
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.events{
    flex: 55%;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    font-size:100%;
    margin: 1.5vw;
    height:1%; 
	display: flex;
	flex-direction: row;
    height:1%;
    display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	align-content: center;
	justify-content:space-evenly;
	padding-bottom: 3em;
	color: #1e1e1e;
	width: 100%;
}


 
 .filopplasting{
   flex: 0%;
     flex-direction:column;
     background-color: white;
     margin: 1.5vw;
     width: 300%;
     height: auto;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	 padding: 0vw 2vw;
	 
	 
}
 .filopplasting h2{
	 text-align: center;
	 
 }
 ul .mmm-list {
	 margin: 5px 5px 5px 5px;
	 
 }
h1{
	text-align: center;
}
