 footer{
	 background-color:#a2c2e5;
     padding: 20px;
     text-align: center;
    
}

.sosialemedierlink {
	
     display: flex;
	 flex-direction:row;
     list-style: none;
     text-align:center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 150%;
     font-family: arial;
	 justify-content:center;
	 margin:0%;
}

.sosialemedierlink a{
	text-decoration: none;
	color:black;
	 border: 1px solid black;
	 margin:0px 10px;
}


