
body{
	margin: 0px;
}

.omgjeruldsen {
	display:flex;
	flex:0%;
	flex-direction: row;
	font-size:100%;
	background-color: #F5F5F5;
	box-shadow: 0vw 0vw 1.5vw 1vw rgba(0,0,0,0.2);
	background-color: white;
	margin: 1vw 6vw 1vw 6vw;
	padding: 3vw;
	flex-wrap:wrap;
	font-family: 'Montserrat', sans-serif;


 h1 {
	font-size:150%;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	padding:0px;
	
}

		 .posts {
			 flex:50%;
	margin-left: 20%;
	margin-right: 20%;
	padding:0px;
}

.omgjeruldsen img {
	 flex:20%;
	max-width: 40%;
	margin-right: 5%;
}
/* .gjeruldsenprisen{
	display: flex;
	flex-wrap: wrap;
	flex:column;
	float: right;
	font-family:areal;
	font-size:100%;
	background-color: #7796CB;
	border-radius: 24px;
	margin-left: 20%;
	margin-right: 20%; 
	margin-top: 5%;
} */

.tc_team-members{
	display:flex;
	justify-content: center;
	background-color: white;
	margin-top: 10%;
	margin-bottom: 20%;
	
}

/*.gjeruldsen img{
	display: flex;
	position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/


.tidligerevinnere{
	display:flex;
	flex: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size:100%;
	background-color: #F5F5F5;
	box-shadow: 0vw 0vw 1.5vw 1vw rgba(0,0,0,0.2);
	background-color: white;
	margin: 1vw 6vw 1vw 6vw;
	flex-direction:column;
	margin-bottom: 3vw;
	padding: 3vw;
	font-family: 'Montserrat', sans-serif;
}
.tidligerevinnere h1{
	font-size:200%;
	text-align: center;
	flex:1 0 100%;
	
}
h1,h2,h3{
	font-family: 'Quattrocento', serif;
}
p.{
	font-family: 'Montserrat', sans-serif;
}