
body{
	background-color: white;
	margin: 0px;
	
}

.omgjeruldsen {
	display:flex;
	flex: column;
	font-size:100%;
	background-color: #F5F5F5;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
	background-color: white;
	margin: 1vw 6vw 1vw 6vw;
}

.omgjeruldsen .post h1 {
	font-size:150%;
	margin-top: 10%;
}

.omgjeruldsen .post p{
	float: right;
	margin-right: 5%;
}

.omgjeruldsen img {
	float: left;
	margin: 5%;
}



.tc_team-members{
	display:flex;
	justify-content: center;
	background-color: white;
	margin-top: 10%;
	margin-bottom: 20%;
	
}

/*.gjeruldsen img{
	display: flex;
	position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/