#html {margin-top: 0 !important;}
 body{

	margin: 0px; 
}
 .mellom{

	margin: 0px;
    background-color: #efefef;	
}



    .mellom{
     display: flex;
     flex-wrap:wrap;
     flex-direction:column;
}
/* main column*/
.mellom{
	flex: 55%;
	background-color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	font-size:100%;
	margin: 1em;
	height:1%;
}
