
#html {margin-top: 0 !important;}
 body{

	margin: 0px; 
}

}
/* main column*/
.mellom{
	flex: 55%;
	background-color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	font-size:100%;
	margin: 1em;
	height:1%;
}
.handlevogn{
    background-color: #f4f9ff;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
    margin: auto;
	max-width: 1100px;
	padding: 3em 1em 1em 3em;
	display: flex;
	margin: 2vw 6vw 2vw 6vw;
	background-color:white;
	
}

.woocommerce{
 max-width: 110 px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
.cart_totals {
  width: 100% !important;
  float:left;
}

.cart-collaterals{
	text-align:center;
	

}
