body{

	margin: 0px; 
} 
.kassen{
	background-color: white;
	background-color: white;
    font-family:Verdana;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
    margin: 2vw 6vw 2vw 6vw;
	padding: 1em 1em 1em 1em;
	display: flex;
}
.woocommerce-info {
 display: none;
}