body{

	margin: 0px; 
} 

.produkt{
	 background-color: #f4f9ff;
     font-family:Verdana;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
	 margin: 1em 1em 1em 1em;
	padding: 1em 1em 1em 1em;
}

.woocommerce img{
   max-width: 30vw;
   height: auto;
   display: block;
   margin: 0 auto; 
   
}
.related {
 display: none;
}