body{

	margin: 0px; 

} 


.related {
 display: none;
}

}

body p{
	display: default;
}


    .mellom{
     display: flex;
     flex-wrap:wrap;
     flex-direction:column;
}
/* main column*/
.mellom{
	flex: 55%;
	background-color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:100%;
	margin: 2vw 6vw 2vw 6vw;
	height:1%;
}
	 

.produkt{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
	background-color: white;
	margin: 0,5em;
	padding: 2vw;
	color: #1e1e1e;
	font-family: 'Roboto Condensed', Sans-serif;
	
}
h1{
text-align: center;
margin: 0,5vw;
padding: 0,5vw;
font-family: 'Quattrocento', serif;
}

.boks{
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
}


	