
body{

	margin: 0px; 
}

.ommaritime{
	display:flex;
	flex: column;
	margin-left: 20%;
	margin-right: 20%;
	font-size:150%;
	background-color: #7796CB;
	border-radius: 24px;
	margin-top: 7%;
}

.ommaritime .post h1 {
	display:flex;
	justify-content: center;
	font-family:helvetica;
	font-size:150%;
}

.ommaritime .post p{
	margin: 5%;
}

.presentasjon{
	display: flex;
	flex-wrap: wrap;
	flex:column;
	font-family:areal;
	font-size:150%;
	background-color: #7796CB;
	border-radius: 24px;
	margin-left: 20%;
	margin-right: 20%; 
	margin-top: 5%;
}

.tc_team-members{
	display:flex;
	flex-wrap:wrap;
	 justify-content: center;
	
	 
	
}

.presentasjon img{
	display: flex;
	position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  border-radius:100px;
}

.samarbeidspartnere{
	display:flex;
	justify-content:center;
}

.sponsor-item {
	display:flex;
	flex-direction:column ;
	margin-left: 20%;
	margin-right: 20%;
	font-size:150%;
	background-color: #7796CB;
	border-radius: 24px;
	margin-top: 7%;
}
.sponsor-item h3{
	font-size:200%;
	text-align: center;
}

.sponsor-item p{
	text-decoration: none;
	color: black;
	margin-left:20%;
	margin-right: 20%;
}



.sponsor-item img{
	border-radius: 25px;
	 max-width: 100%;
  height: auto;
  display: block;
    margin: 0 auto; 
 
}
.kontaktoss{
	display:flex;
	flex-direction:column ;
	margin-left: 20%;
	margin-right: 20%;
	font-size:150%;
	background-color: #7796CB;
	border-radius: 10px;
	margin-top: 7%;
}

.gdfrm-form{
	margin-left: 20%;
	margin-right: 20%;
}

