
body{

	margin: 0em; 
}
.boks{
	margin-left: 3em;
	margin-right: 3em;
	background-color: #f4f9ff;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
}
	
.ommaritime{
	display:flex;
	flex: column;
	margin-left: 1em;
	margin-right: 1em;
	font-size:150%;
	background-color: #f4f9ff;
	margin-top: 7%;
	padding: 1em 1em 1em 1em;
	text-align:center;
}

.post {
  width: 50%;
  margin: 0 auto;
}
	
}
.presentasjon{
	display: flex;
	flex-wrap: wrap;
	flex:column;
	font-family:areal;
	font-size:150%;
	background-color: #f4f9ff;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	
}

.tc_team-members{
	display:flex;
	flex-wrap:wrap;
    justify-content: center;

}

.presentasjon img{
	display: flex;
	position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  border-radius:100px;
}

.samarbeidspartnere{
	display:flex;
	justify-content:center;
}

.sponsor-item {
	display:flex;
	flex-direction:column ;
	margin-left: 2em;
	margin-right: 2em;
	font-size:150%;
	background-color:#f4f9ff;
	margin-top: 2em;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
	padding: 1em 1em 1em 1em;
}
.sponsor-item h3{
	font-size:150%;
	text-align: center;
}

.sponsor-item p{
	text-decoration: none;
	color: black;
	margin-left:1em;
	margin-right: 1em;
}



.sponsor-item img{
	border-radius: 25px;
	 max-width: 100%;
  height: auto;
  display: block;
    margin: 0 auto; 
 
}
.kontaktoss{
	display:flex;
	flex-direction:column ;
	margin-left: 2em;
	margin-right: 2em;
	font-size:150%;
	background-color: #f4f9ff;
	box-shadow: 0em 0em 1.5em 1em rgba(0,0,0,0.2);
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0em 2em 2em 2em;
}

.gdfrm-form{
	margin-left: 20%;
	margin-right: 20%;
}

