
.gcaptain{

text-decoration: none;
}

.gcaptain a{

font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #46434a;

}

.gcaptain{
	color: #46434a;
	background: white;
}


.gcaptain li {
	border-bottom: solid 1px black ;
	padding: 0  0 0.1em 0;
	margin: 0 0.5em 0.8em 0.5em;

}


.gcaptain a:hover{

	color: maroon;
}

.gcaptain a:active{
	
}

.gcaptain a:visited{
	
}

.sysla a, li{

text-decoration: none;
color: #46434a;
margin:0.2em 0.1em 0.2em 0.1em;

}


.sysla{
	color: #46434a;
}

.sysla li {
	border-bottom: solid 1px black ;

}

.sysla{
	background: #dadde2;
}

.sysla a:hover{

	color: maroon;
}

.sysla a:active{
	
}

.gcaptain a:visited{
	

}